@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
    
body{
    background-color: bisque;
}
p{
    font-size: 15px;
}
header h1{
    background-color: orange;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(60, 60, 60);
}

#clock{
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 10px;
}
section{
    display: flex;
    width: 100%;
    padding: 20px 20px;
}
section hr{
    margin: 5px 0;
}

figure{
    text-align: center;
}
figure img{
    width: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(90, 90, 90);
}



nav ul{
    /* margin-top: 10px; */
    /* background-color: blueviolet; */
    list-style: none;
    text-decoration: none;
    padding: 5px 0 10px 10px;
}
nav li{
    margin-top: 10px;
    background-image: url('images/arrow.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    text-decoration: none;
}


figure .languages{
    padding-left: 10px;
    list-style-type: square;
}
main{
    flex: 2;
    padding: 10px 30px;
}
main p{
    font-size: 25px;
}
aside{
    padding: 10px 30px;
    flex: 1;
    background-color: rgb(255, 204, 122);
    border-radius: 20px;
}


aside > hr{
    border: 1px solid orange;
}

div.wyksztalcenie ul, div.wyksztalcenie li{
    list-style-type: disc;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    /* padding: 0 10px 10px 10px; */
}
.contact {
    display: flex;
    justify-content: center; /* Centrowanie elementów w poziomie */
    align-items: center; /* Centrowanie w pionie */
    gap: 20px; /*Odstęp między divami*/
}
.contact > div{
    padding: 10px 0;
}
div.contact ul, div.contact li{
    list-style: none;
}
.contact a{
    text-decoration: none;
    color: rgb(255, 197, 89);
}
footer hr{
    border: 3px solid orange;
}
.git{
    color: orange;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

td{
    border: 1px solid bisque;
    padding: 5px;
    border-spacing: 5px;
}

