@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body{
    background-image: url(./images/walka.png);
    background-repeat: no-repeat;
}
#progress {
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 200px;
    background-color: white;
    text-align: center;
    opacity: 0.5;
}
#back{
    margin: 20px;
    color: black;
    padding: 5px;
    width: 5%;
}
#back:hover{
    background-color:burlywood;
    padding: 5px;
    width: 5%;
}
a{
    text-decoration: none;
}
h1{
    text-shadow: 2px 2px gray;
    font-size: 50px;
}
#btnAttack, #btnHeal{
    color: black;
    border-radius: 50px;
    padding: 10px;
    width: 10%;
}
#fight{
    text-align: center;
    margin-top: 40px;
}
#battle-log{
    height: 200px;
    overflow: auto;
    border: 1px dashed black;
    padding: 10px;
    margin-top: 20px;
    background-color: aliceblue;
    opacity: 0.6;
    width: 30%;
    margin:auto;
}
#btnAttack:hover{
    background-color: red;
    color: white;
}

#btnHeal:hover{
    background-color: green;
    color: white;
}

#enemy-health, #your-health {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}